{% extends 'bifffidus/base.html' %}
{% load static %}
{% block content %}
	<div class="border text-light">		
		<h2 class='blog-title'>{{ festival.title }}</h2>
		{% if festival.poster_path %}
		<img src="{{ festival.get_poster_image_url }}" class="img-thumbnail  mx-auto d-block"/>
		{% endif %}
		<p>From {{festival.start_date}} to {{festival.end_date}}</p>
		{% for p in festival.place.all %}
		<p>{{ p.name }}</p>
		<p>Room(s):		
			{% for s in p.screen.all %}
				[ {{s.room_name|title}} ]
			{% endfor %}
		</p>
		{% endfor %}	            
	</div>
	
	<a href="{% url 'movie_by_festival' pk=festival.pk %}">Festival Movie List</a>
	
    {% regroup screenings by view_date as screenings_by_day %}
    {% for screening_list in screenings_by_day %}
    <div class="text-light">
    	
    	
    	<a  href="{% url 'movie_by_date' year=screening_list.1.0.screening_datetime|date:"Y" month=screening_list.1.0.screening_datetime|date:"m" day=screening_list.1.0.screening_datetime|date:"d" %}">
    	{{screening_list.grouper|title}}</a><span class="badge bifff-badge">{{ screening_list.list|length }}</span>
    	
    	
    	
    	{% for screen in screens %}
			<div class="row">
       		{% for screening in screening_list.list %}
       			
       			{% if screen.id is screening.screen.id %}       			
       			<div class="column border" data-href="{% url 'movie_detail' pk=screening.movie_id %}">
	       			
	       				<img src="{{ screening.movie.get_poster_image_url_92 }}" alt="{{ screening.movie.title }}" class=""/>
	       			
	       			<h5>
	       				{{screening.movie.title|title}}
	       			</h5>
      				<p>{{screening.movie.get_director}}</p>
    	   			<p>{{screening.screening_datetime|date:"H:i"}}</p> 
       				<p>{{screening.screen.room_name|title}}</p>       				
       				{% for tag in screening.tag.all %}
       					{% if tag.check_type %}
       					<img src="{% static tag.icon_path %}" alt="{{tag|title}}" data-toggle="tooltip" title="{{tag|title}}">
       					{% endif %}       					       					       				
       				{% endfor %}
       			</div>	
           		{% endif %}
           		
           	{% endfor %}
           	</div>			       	
       	{% endfor %}
   	</div>
    {% endfor %}


    
{% endblock content %}
