{% extends 'bifffidus/base.html' %}
{% block content %}

	<h5>{{festivals|length}} festivals found</h5>
	<table class="table table-dark table-hover border border-danger">
	  	<tbody>	
    {% for festival in festivals %}
	    	<tr data-href="{% url 'festival_detail' pk=festival.pk %}#page-start">
	      		<th scope="row"><img src="{{ festival.get_small_poster_image_url }}" class="mx-auto d-block"/></th>
	      		<td ><h2>{{ festival.title }}</h2></td>
	      		<td>{{ festival.start_date|date:"Y" }}</td>	      		
	    	</tr>
    {% endfor %}
    	</tbody>
    </table>    
{% endblock content %}
