{% extends 'bifffidus/base.html' %}
{% load static %}
{% block content %}

	<div class="border text-light">		
		<h2 class='blog-title'>{{ festival.title }}</h2>
		{% if festival.poster_path %}
		<img src="{{ festival.get_poster_image_url }}" class="img-thumbnail  mx-auto d-block"/>
		{% endif %}
		<p>From {{festival.start_date}} to {{festival.end_date}}</p>
		{% for p in festival.place.all %}
		<p>{{ p.name }}</p>
		<p>Room(s):		
			{% for s in p.screen.all %}
				[ {{s.room_name|title}} ]
			{% endfor %}
		</p>
		{% endfor %}	            
	</div>	
	<a href="{% url 'movie_by_festival' pk=festival.pk %}">Festival Movie List</a>
	
    {% regroup screenings by view_date as screenings_by_day %}
    {% for screening_list in screenings_by_day %}
    <div class="card text-light bifff-bg border">
    	<div class="card-header" data-toggle="collapse" data-target="#day{{screening_list.grouper|date:"dmY"}}"> 
	    		{{screening_list.grouper|date:"D d/m/Y"|title}}
	    	<span class="badge bifff-badge">
	    		{{ screening_list.list|length }}
	    	</span>
    	</div>
    	
    	<div id="day{{screening_list.grouper|date:'dmY'}}" class="collapse">
    	{% for screen in screens %}
    		<div class="card-body">
				<div class="row">
	       		{% for screening in screening_list.list %}
	       			
	       			{% if screen.id is screening.screen.id %}       			
	       			<div class="column border">
		       			<div data-href="{% url 'movie_detail' pk=screening.movie_id %}">
		       				<img src="{{ screening.movie.get_poster_image_url_92 }}" alt="{{ screening.movie.title }}" class=""/>	       			
			       			<h5>
			       				{{screening.movie.title|title}}
			       			</h5>
		      				<p>{{screening.movie.get_director}}</p>
		      				<p>{{screening.movie.runtime}}</p>
		    	   			<p>{{screening.screening_datetime|date:"H:i"}}</p> 
		       				<p>{{screening.screen.room_name|title}}</p>
	       				</div>
	       				<div>       				
		       				{% for tag in screening.tag.all %}
		      					{% if tag.icon_path %}
		      						<a  data-toggle="popover" title="{{tag|title}}" data-content="">
		       							<img src="{% static tag.icon_path %}" alt="{{tag|title}}" data-toggle="tooltip" title="{{tag|title}}">
		       						</a>
		       					{% endif %}       					       					       				
		       				{% endfor %}
	       				</div>
	       			</div>	
	           		{% endif %}
	           		
	           	{% endfor %}
	           	</div>
           	</div>			       	
       	{% endfor %}
       	</div>
   	</div>
    {% endfor %}


    
{% endblock content %}
