{% extends 'bifffidus/base.html' %}
{% load staticfiles %}

{% block content %}

	<div class="">
	 	<div class="btn-group">
  			<span class="label info border border-danger rounded-top">{{nb_festival}} festivals</span>
  			<span class="label info border border-danger rounded-top">{{nb_movie}} movies</span>
  			<span class="label info border border-danger rounded-top">{{nb_person}} persons</span>
		</div> 
		<div>
			<img class="img-fluid rounded" src="{% static "img/work_in_progress.png" %}" alt="Work in Progress Sign">
		</div>
	</div>

{% endblock content %}