{% extends 'bifffidus/base.html' %}
{% block content %}

	<form action="/bifffidus/movie/" method="get">
   		{% csrf_token %}
   		{{ form }}
   		<input type="submit" value="Submit">
	</form>
	<h5>{% if search %}search title: "{{ search }}"{% endif %}</h5>
	<h5>{{nb_movies}} movies found</h5>
    
    {% if movies and not message %}		
	<nav id="list-start" aria-label="Movie List Navigation">
	  <ul class="pagination">
	  	{% if movies.has_previous %}
	    	<li class="page-item"><a class="page-link bifff-bg" href="?page=1{% if search %}&movie_title={{search}}{% endif%}">1</a></li>
	    	<li class="page-item"><a class="page-link bifff-bg" href="?page={{ movies.previous_page_number }}{% if search %}&movie_title={{search}}{% endif %}#list-start">Previous</a></li>
	    {% endif %}
	    	<li class="page-item page-link bifff-bg">{{ movies.number }} of {{ movies.paginator.num_pages }}</li>
	    {% if movies.has_next %}
		    <li class="page-item"><a class="page-link bifff-bg" href="?page={{ movies.next_page_number }}{% if search %}&movie_title={{search}}{% endif%}#list-start">Next</a></li>
		    <li class="page-item"><a class="page-link bifff-bg" href="?page={{ movies.paginator.num_pages }}{% if search %}&movie_title={{search}}{% endif %}#list-start">last &raquo;</a></li>
	    {% endif %}
	  </ul>
	</nav>
	{% endif %}

    {% for movie in movies %}
        <div class="border border-danger text-light row">
        	<div class="col-md-4">
        		<a  href="{% url 'movie_detail' pk=movie.pk %}"><img src="{{movie.get_poster_image_url_92}}"></a>
        	</div>
        	<div class="col-md-8">
		        <h4><a  href="{% url 'movie_detail' pk=movie.pk %}">{{ movie.title|title }} ({{movie.release_date|date:"Y"}})</a></h4>
        	    <p> {{ movie.tagline }}</p>
        	    <p>
        	    {% for c in movie.crew.all %}
        	    	{% if c.job.id is director.id %}
        	    		[{{ c.person.name }}]
        	    	{% endif %}
        	    {% endfor %}
        	    </p>
        	   	<p>
        	    {% for genre in movie.genre.all %}
        	    	[{{genre.name}}]
        	    {% endfor%}
        	    </p>
            </div>            
        </div>
    {% endfor %}
    
    {% if movies and not message %}
	<nav aria-label="Movie List Navigation">
	  <ul class="pagination">
	  	{% if movies.has_previous %}
	    	<li class="page-item"><a class="page-link bifff-bg" href="?page=1{% if search %}&movie_title={{search}}{% endif%}">1</a></li>
	    	<li class="page-item"><a class="page-link bifff-bg" href="?page={{ movies.previous_page_number }}{% if search %}&movie_title={{search}}{% endif %}#list-start">Previous</a></li>
	    {% endif %}
	    	<li class="page-item page-link bifff-bg">{{ movies.number }} of {{ movies.paginator.num_pages }}</li>
	    {% if movies.has_next %}
		    <li class="page-item"><a class="page-link bifff-bg" href="?page={{ movies.next_page_number }}{% if search %}&movie_title={{search}}{% endif%}#list-start">Next</a></li>
		    <li class="page-item"><a class="page-link bifff-bg" href="?page={{ movies.paginator.num_pages }}{% if search %}&movie_title={{search}}{% endif %}#list-start">last &raquo;</a></li>
	    {% endif %}
	  </ul>
	</nav>
	{% endif %}
	
	
{% endblock content %}
