{% extends 'bifffidus/base.html' %}
{% load static %}

{% block content %}
    <div class="post text-light border">       
        <h1 class="blog-title">{{ movie.title|title }}</h1>
        <img src="{{ movie.get_poster_image_url_185 }}" class="img-thumbnail  mx-auto d-block"/>
        <p> 
        	{% if movie.imdb_id %}      
        	<a href="https://www.imdb.com/title/{{ movie.imdb_id }}" target="_blank">
        		<img src="{% static 'img/imdb.icon.png' %}" alt="IMDb" data-toggle="tooltip" title="IMDb link">
        	</a> 
        	{% endif %}
        	{% if movie.tmdb_id %}
        	<a href="https://www.themoviedb.org/movie/{{ movie.tmdb_id }}" target="_blank">
        		<img src="{% static 'img/tmdb.icon.png' %}" alt="TMDB" data-toggle="tooltip" title="TMDB link">
        	</a>
        	{% endif %}
		</p>
		<p>Overview: {{ movie.overview }}</p>
		<p>Release Date: {{ movie.release_date }}</p>
		<p>Runtime: {{ movie.runtime }}</p>
		{% if movie.tagline %}
			<p>Tagline: {{ movie.tagline }}</p>
		{% endif %}
		<!--p>Backdrop Path: {{ movie.backdrop_path }}</p-->
		<!--p>Poster Path: {{ movie.poster_path }}</p-->
		<p>Original Language: {{ movie.original_language }}</p>
		{% if movie.original_title is not movie.title %}
			<p>Original title: {{ movie.original_title }}</p>
		{% endif %}
		<p>Genres:
		{% for g in movie.genre.all %}
			<a href="{% url 'genre_detail' pk=g.id %}">[{{ g.name }}]</a>
		{% endfor %}
		</p>
		{% if movie.production_company.all %}
			<p>Production Companies: 
			{% for p in movie.production_company.all %}
				[{{ p.name }}]
			{% endfor %}
			</p>
		{% endif %}
		{%if movie.country.all %}
			<p>Countries: 
			{% for c in movie.country.all %}
				<a href="{% url 'country_detail' pk=c.id %}">[{{ c.name }}]</a>
			{% endfor %}
			</p>
		{% endif %}
		{%if movie.spoken_language.all %}
			<p>Spoken Languages :
			{% for s in movie.spoken_language.all %}
				[{{ s.name }}]
			{% endfor %}
			</p>
		{% endif %}	

		<h3>Crew</h3>
		<table class="table table-striped table-dark">
		  	<thead>		  		
		    	<tr>		      
		      		<th scope="col">Name</th>
		      		<th scope="col">Job</th>
		      		<th scope="col"></th>
		    	</tr>
		  	</thead>
		  	<tbody>
		{% for cw in movie.crew.all %}
			{% if cw.job.is_pertinent %}			
				<tr>
		    		<th scope="row"><a href="{% url 'person_detail' pk=cw.person.id %}">{{ cw.person.name }}</a></th>
		    		<td>{{cw.job.jobname}}</td>      		
		      		<td>{% if cw.person.profile_path %}<img src="{{ cw.person.get_profile_image_url_45 }}" alt="" class=""/>{% endif %}</td>		      
		    	</tr>			
			{% endif %}
		{% endfor %}
			</tbody>
		</table>

		<h3>Casting</h3>
		<table class="table table-striped table-dark">
		  	<thead>
		    	<tr>		      
		      		<th scope="col">Name</th>
		      		<th scope="col">Character</th>
		      		<th scope="col"></th>
		    	</tr>
		  	</thead>
		  	<tbody>
			{% for c in movie.cast.all %}
				{% if c.order < 10 %}
				<tr>
		    		<th scope="row"><a href="{% url 'person_detail' pk=c.person.id %}">{{ c.person.name }}</a></th>
		      		<td>{{c.character}}</td>
		      		<td>{% if c.person.profile_path %}<img src="{{ c.person.get_profile_image_url_45 }}" alt="" class=""/>{% endif %}</td>		      
		    	</tr>
				{% endif %}
			{% endfor %}
			</tbody>
		</table>

		
		<h3>Screenings</h3>
		<table class="table table-striped table-dark">
			<tbody>
			{% for screening in screenings %}
				<tr>
				<td>{{screening.festival.title}}</td>
				<td>{{ screening.screening_datetime|date:"D d/m/Y H:i"|title }}({{ screening.screen }})</td>
				</tr>				
			{% endfor %}
			</tbody>
		</table>

		{% if tags %}
		<h3>Tags</h3>			
		<table class="table table-striped table-dark">
			<tbody>					 
				{% for tag in tags %}
					<tr>
						<td>
							{{tag.festival}}
						</td>
						<td>
							{{tag.name|title}}
							{% if tag.icon_path %}
								<img src="{% static tag.icon_path %}" " data-toggle="tooltip" title="{{tag.name|title}}">
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
    </div>
{% endblock %}
