{% extends 'bifffidus/base.html' %}
{% block content %}
{% load static %}

<div class="border text-light">		
	<h2 class='blog-title'>{{ festival.title }}</h2>
	{% if festival.poster_path %}
	<img src="{{ festival.get_poster_image_url }}" class="img-thumbnail  mx-auto d-block"/>
	{% endif %}
	<p>From {{festival.start_date}} to {{festival.end_date}}</p>
	{% for p in festival.place.all %}
	<p>{{ p.name }}</p>
	<p>Room(s):		
		{% for s in p.screen.all %}
			[ {{s.room_name|title}} ]
		{% endfor %}
	</p>
	{% endfor %}	            
</div>
		<a class="btn btn-outline-danger btn-lg" role="button" aria-pressed="true" href="{% url 'movie_by_festival' pk=festival.pk %}">Movies</a>
		<a class="btn btn-outline-danger btn-lg" role="button" aria-pressed="true" href="{% url 'festival_detail' pk=festival.pk %}#page-start">Program</a>
{% for competition in competitions %}
	{% if competition.1|length > 0 %}
	<div class="card text-light bifff-bg border">
    	<div class="card-header"> 
	    		{{competition.0.name|title}} 
	    		<img src="{% static competition.0.icon_path %}" alt="{{competition.0.name|title}}" data-toggle="tooltip" title="{{competition.0.name|title}}">	    	
    	</div>
    	
    	<div class="card-body" >
				<div class="row">
	       		{% for movie in competition.1 %}       			
	       			<div class="column border">
		       			<div data-href="{% url 'movie_detail' pk=movie.id %}">
		       				<img src="{{ movie.get_poster_image_url_92 }}" alt="{{ movie.title }}" class=""/>	       			
			       			<h5>
			       				{{movie.title|title}}
			       			</h5>
		      				<p>{{movie.get_director}}</p>
		      				<p>{{movie.runtime}}</p>		       		
	       				</div>
	       			</div>	           		
	           	{% endfor %}
	           	</div>
       	</div>
   	</div>
   	{% endif %}	
{% endfor %}

{% endblock content %}
