{% extends 'bifffidus/base.html' %}

{% block content %}
    <div class="post text-light border">       
        <h1 class="blog-title">{{ person.name }}</h1>
        <p>Gender: {{ person.getGender }}</p>
        <p>Profile_path: {{ person.profile_path }}</p>
        <p>tmdb_id: {{ person.tmdb_id }}</p>
        
   	{% regroup movie_cast by title as cast_by_movie %}
   	<h4>Actor:</h4>
   	{% for c in cast_by_movie %}   		
   		{% for j in c.list%}
   			{% if forloop.first %}
   			<h5><a href="{% url 'movie_detail' pk=j.id %}">{{c.grouper|title}}</a></h5>   			
   			{% endif %}
   			[{{j.character}}]
   		{% endfor %}   		
   	{% endfor %}
   	
   	{% regroup movie_crew by title as crew_by_movie %}
   	<h4>Crew:</h4>
   	{% for c in crew_by_movie %}   		
   		{% for j in c.list%}
   			{% if forloop.first %}
   			<h5><a href="{% url 'movie_detail' pk=j.id %}">{{c.grouper|title}}</a></h5>   			
   			{% endif %}
   			[{{j.jobname}}]
   		{% endfor %}   		
   	{% endfor %}

    </div>
{% endblock %}
