{% extends 'bifffidus/base.html' %}

{% block content %}
    <div class="post text-light border">       
        <h1 class="blog-title">{{ person.name }}</h1>
        <p>Gender: {{ person.getGender }}</p>
        <p>Profile_path: {{ person.profile_path }}</p>
        <p>tmdb_id: {{ person.tmdb_id }}</p>
	<ul>
   	{% for c in cast %}
   		<li><a href="{% url 'movie_detail' pk=c.movie.pk %}">[{{ c.movie.title }}]</a> : [{{c.character}}]</li>
   	{% endfor %}
   	</ul>
   	{% regroup crew by movie as crew_by_movie %}   	 
   	
   	{% for c in crew_by_movie %}
   		<a href="{% url 'movie_detail' pk=c.grouper.pk %}">{{c.grouper|title}}</a>
   		<ul>
   		{% for job in c.list %}   
			<li>[{{ job.job.department }}]:[{{ job.job.jobname }}]</li>
   		{% endfor%}
   			</ul>
   	{% endfor %}
   
    </div>
{% endblock %}
