{% extends 'bifffidus/base.html' %}
{% block content %}
    <h5>Nombre de personnes : {{nb_persons}}</h5>


	<nav aria-label="Person List Navigation">
	  <ul class="pagination">
	  	{% if persons.has_previous %}
	    	<li class="page-item"><a class="page-link bifff-bg" href="?page=1">1</a></li>
	    	<li class="page-item"><a class="page-link bifff-bg" href="?page={{ persons.previous_page_number }}">Previous</a></li>
	    {% endif %}
	    	<li class="page-item page-link bifff-bg">{{ persons.number }} of {{ persons.paginator.num_pages }}</li>
	    {% if persons.has_next %}
		    <li class="page-item"><a class="page-link bifff-bg" href="?page={{ persons.next_page_number }}">Next</a></li>
		    <li class="page-item"><a class="page-link bifff-bg" href="?page={{ persons.paginator.num_pages }}">last &raquo;</a></li>
	    {% endif %}
	  </ul>
	</nav>

    {% for person in persons %}
        <div class="border border-danger">
	        <a  href="{% url 'person_detail' pk=person.pk %}"><h3 class=''>{{ person.name }}</h2></a>
        </div>
    {% endfor %}
	
	<nav aria-label="Person List Navigation">
	  <ul class="pagination">
	  	{% if persons.has_previous %}
	    	<li class="page-item"><a class="page-link bifff-bg" href="?page=1">1</a></li>
	    	<li class="page-item"><a class="page-link bifff-bg" href="?page={{ persons.previous_page_number }}">Previous</a></li>
	    {% endif %}
	    	<li class="page-item page-link bifff-bg">{{ persons.number }} of {{ persons.paginator.num_pages }}</li>
	    {% if persons.has_next %}
		    <li class="page-item"><a class="page-link bifff-bg" href="?page={{ persons.next_page_number }}">Next</a></li>
		    <li class="page-item"><a class="page-link bifff-bg" href="?page={{ persons.paginator.num_pages }}">last &raquo;</a></li>
	    {% endif %}
	  </ul>
	</nav>
   
{% endblock content %}
