{% extends 'bifffidus/base.html' %}
{% load static %}
{% block content %}
	 
    
    <h5>{{tags.count}} tags found</h5>
    {% regroup tags by tag_type as tags_by_type %}
    {% for gtags in tags_by_type %}
    	<h5>{{ gtags.grouper|title}}</h5>
    	<table class="table table-dark table-hover border border-danger">
	  		<tbody>	
	    	{% for tag in gtags.list %}
		    	<tr data-href="{% url 'tag_detail' pk=tag.pk %}#page-start">
		    		<th scope="row"><h2>{{ tag.name|title }}</h2></th>
		      		<td>
			        	{% if tag.icon_path %}
			    	    	<img src="{% static tag.icon_path %}" " data-toggle="tooltip" title="{{tag.name|title}}">
			        	{% endif %}
		      		</td>	      		      		
		    	</tr>
    		{% endfor %}
	    	</tbody>
	    </table>     		
    {% endfor %}
{% endblock content %}
