{% extends 'bifffidus/base.html' %}
{% load static %}
{% block content %}

<div class="text-light">       
	<h1 class="">{{ tag.name|title }}</h1>
    <p>{{movies|length  }} movies found</p>
</div>

{% regroup movies by festival as movies_by_festival %}
{% for mbf in movies_by_festival %}
<div class="card text-light bifff-bg border">
    <div class="card-header" data-toggle="collapse" data-target="#ttt{{forloop.counter}}">
       	{{mbf.grouper}}
    	<span class="badge bifff-badge">
    		{{ mbf.list|length }}
	   	</span>        	
    </div>
    <div id="ttt{{forloop.counter}}" class="collapse">
       	<div class="card-body">
			<div class="row">
   			{% for movie in mbf.list %}
				<div class="column border">
	       			<div data-href="{% url 'movie_detail' pk=movie.id %}">
	       				<img src="{{ movie.get_poster_image_url_92 }}" alt="{{ movie.title }}" class=""/>	       			
		       			<h5>
		       				{{movie.title|title}}
		       			</h5>
	      				<p>{{movie.get_director}}</p>			      						       		
       				</div>
       			</div>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endfor %}

    
{% endblock %}
