{% extends 'blog/base.html' %}

{% block content %}
    <div class="post text-light border">
    	{% if perms.can_post_on_blog %}
	        {% if post.published_date %}
	            <div class="date">
	                {{ post.published_date }}
	            </div>
	        {% else %}
	            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
	        {% endif %}
	    
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><i class="far fa-edit">edit</i></a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><i class="far fa-trash-alt">remove</i></a>
        {% endif %}
        <h1 class="blog-title">{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        Images({{post.images.count}})

       	{% for image in post.images.all %}
   			<img src="/static/{{ image.image_file }}" class="img-thumbnail  mx-auto d-block"/>
		{% endfor%}
        
    </div>
    
    <hr class="bg-light">

    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment text-light border">
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><i class="far fa-trash-alt">remove</i></a>
                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><i class="far fa-thumbs-up">approve</i></a> 
                       
                    {% endif %}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% endif %}
    {% empty %}
        <p class="text-light">No comments here yet :(</p>
    {% endfor %}
{% endblock %}
