.bifff-banner {
	background-color: black;
}

.bifff-bg {
    background-color: black;
}

.container {
  position: relative;
  text-align: center;
  /*color: red;*/
  font-family: 'Changa';
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Changa', cursive;
    color: white;
}

.bifff-menu {
	color: Red;
	font-family: 'Shojumaru';
}
.label {  	
  	padding: 8px;
  	font-family: 'Changa';
	color : red;
	background-color: black;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
a {
    color: Red;
    
}
a:link {
    color: Red;
   
}
a:visited {
    color: Red;
}
a:hover {
    color: Yellow;
    text-decoration: none;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

img {
    max-width: 100%;
    height: auto;
}
.bifff-badge {
	color=Yellow;
	background-color: grey;
}
/* <--for festival_detail.html */
* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/*----------->*/